[submodule "teamSpeakTelegram"]
	path = teamSpeakTelegram
	url = https://github.com/jossalgon/teamSpeakTelegram.git
[submodule "reportTelegram"]
	path = reportTelegram
	url = https://github.com/jossalgon/reportTelegram.git
